@import "tailwindcss";

@theme {
  --font-sans: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-serif: Georgia, serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 0rem;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
